<h4>Agregar PJ</h4>
<form class="row" (ngSubmit)="submit($event)">
  <input
    type="text"
    class="form-control mb-2"
    placeholder="Nombre del PJ"
    [(ngModel)]="character.name"
    name="name"
  />
  <input
    type="number"
    class="form-control mb-2"
    placeholder="Edad"
    [(ngModel)]="character.age"
    name="age"
  />
  <input
    type="text"
    class="form-control mb-2"
    placeholder="Genero"
    [(ngModel)]="character.gender"
    name="gender"
  />
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
