<h4>Listado</h4>
@if(characterList.length > 0){
<ul class="list-group d-flex justify-content-between">
  <li
    *ngFor="
      let item of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': isLast,
      'list-group-item-dark': isOdd
    }"
  >
    <div>
      {{ i + 1 }} - {{ item.name }} - AGE: {{ item.age }} - GENDER:
      {{ item.gender }}
    </div>
    <button class="btn btn-danger" (click)="deleteById(item.id)">x</button>
  </li>
</ul>
}@else {
<h6>No hay personajes</h6>
}
